.cdx-quote-icon svg {
  transform: rotate(180deg);
}

.cdx-code-wrapper {
  position: relative;
}

.cdx-code {
  margin: 0;
  background: transparent;
  display: block;
  outline: none;
  font-size: 16px !important;
  padding: 15px !important;
  min-height: 52px;
  margin-bottom: 20px;
}

.cdx-code__input {
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

.cdx-code__text {
  margin-bottom: 1px;
}

.cdx-code-settings {
  display: flex;
}

.cdx-code-settings .cdx-settings-button {
  width: 50%;
}

.cdx-code-lang_corner_warpper {
  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  align-items: center;
}

.cdx-code-lang_label {
  font-size: 16px;
  font-style: italic;
  color: #627B8C;
  cursor: pointer;
}

.cdx-code-lang_label:after {
  content: '|';
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  opacity: 0.6;
}

.cdx-code-lang_copy {
  color: #627B8C;
  cursor: pointer;

  margin-top: 2px;
}

.cdx-code-lang_copy-success {
  color: yellowgreen;
  font-size: 12px;
  font-weight: bold
}

.cdx-code-lang_input {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  line-height: 1.2;
  background-color: #f1f3f7;
  background-image: none;
  border: 1px solid #eaeaea;
  margin: 8px 5px 0px 5px;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
